<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>actionsInput</title>
</head>
<body>
<form action="postData" method="post">
    <input type="text" name="sourceIP" placeholder="sourceIP"/><br>
    <input type="text" name="destIP" placeholder="destIP"/><br>
    <input type="text" name="sourcePort" placeholder="sourcePort"/><br>
    <input type="text" name="destPort" placeholder="destPort"/><br>
    <input type="text" name="protocol" placeholder="protocol"/><br>
    <input type="text" name="packageSize" placeholder="packageSize"/><br>
    <input type="text" name="gmtTimeStamp" placeholder="gmtTimeStamp"/><br>
    <input type="submit" value="submit">
</form>

</body>
</html>