<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cernet</title>
<!--    <script src="../static/echarts/echarts.min.js"></script>-->
    <link rel="stylesheet" href="myCss.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body style="background-image:url(img/bj.jpg); background-size: 100%">
<h5>hello</h5>
<img src="img/bj.jpg">
</body>

</html>